@import 'fonts.css';

body {
  width: 600px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
}

@media(max-width: 600px) {
  body {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }
}

a {
  text-decoration: none;
  color: #336699;
}

a:visited {
  color: #336699;
}

a:hover {
  color: #C0C0C0;
}

header a {
  color: #000;
}

header a:visited {
  color: #000;
}

p {
  line-height: 1.8;
  text-align: justify;
  margin-top: 0.5em;
  text-indent: 1em;
}

pre {
  font-family: 'Courier New', monospace;
  margin-top: 0.5em;    
}

header#top {
  margin: 40px 0;
}

header#top h1 {
  font-size: 2em;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 2em;
  margin: 0 0 9px 0;
}

header#top h2 {
  font-family: 'Cutive Mono', monospace;
  font-size: 0.8em;
  text-align: center;
}

@media(max-width: 600px) {
  section.summary {
    padding: 0 0 0 0;
    border-left: 0px solid black;
  }
}

article {
  margin: 15px 0 0 0;
}

article.summary {
  padding: 0 0 0 10px;
  border-left: 1px solid black;
  margin: 0 0 60px 0;
}

article h2 {
  font-size: 1.3em;
  font-family: 'Lobster', cursive;
}

article time {
  margin: 0 0 0 2px;
  font-size: 0.7em;
  font-weight: 600;
}

nav {
  font-family: 'Lobster', cursive;
}
nav.pages {
  margin: 2em 0 140px 0;
}
nav.more {
  margin: 1em 0 0 0;
}

nav .next {
  float: right;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 10px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
